
#root {
    max-width: 1280px;
    margin: 0 auto;
    /* Test */
    background-color: #0e1116; 
}
* {
    font-size: 16px;
}


.ops-div {
    display: block;
    text-align: right;
    /* border-color: red;
    border-width: 1px;
    border-style: solid; */
}

/* 
iPhone 12
Height: 2532
Width: 1170
*/

    /* Lime Green */
    /* filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%); */

    /* Red */
    /* filter: invert(24%) sepia(61%) saturate(6019%) hue-rotate(2deg) brightness(101%) contrast(107%); */

    /* Darker Red */
    /* filter: invert(9%) sepia(100%) saturate(7499%) hue-rotate(4deg) brightness(94%) contrast(93%); */

    /* Blue */
    /* filter: invert(16%) sepia(68%) saturate(4104%) hue-rotate(197deg) brightness(100%) contrast(103%); */

    /* Yellow */
    /* filter: invert(74%) sepia(60%) saturate(614%) hue-rotate(5deg) brightness(96%) contrast(95%); */

    /* Green */
    /* filter: invert(36%) sepia(19%) saturate(3972%) hue-rotate(87deg) brightness(91%) contrast(89%); */
    /* border: solid;
    border-color: white;
    border-width: 1px; */
